.contactList
{
  text-align: center;
}

.contactList ul li
{
  word-wrap: break-word;
}

footer .container-fluid
{
  background-color: #fff;
}

@media (min-width: 768px) {
  .contactList
  {
    text-align: right;
  }
}