#card-container
{
  background-image: url("../assets/images/wallpaper_edit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  padding: 20px 0px 0px 0px;
}

.col-md-3
{
  margin: 80px 0px 0px 0px;
}

.card
{
  background-color:rgb(244, 236, 230);
  height: 500px;
  width: 350px;
  border: 0px;

  float: left;
}

.card img
{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0px 0px 50px 0px;
}

.card hr
{
  background-color: rgb(255, 79, 79);
  height: 2px;
  width: 50px;
}

.content p
{
  color: rgb(244, 236, 230);
  font-family: 'Poppins-Bold', sans-serif;
  padding: 0px;
}

.mainTitle
{
  font-size: 100px;
  margin: 0px;
}

.mainContent
{
  font-size: 20px;
}


@media (min-width: 768px) {
  .card
  {
    float: right;
  }
}

@media (min-width: 62em) {

}
