body 
{
  font-family: 'Nunito-Light', sans-serif;
}

#circle
{
  width: 15px;
  height: 15px;
  background-color: rgb(255, 79, 79);
  border-radius: 50%;
}

.navbar
{
  height: 100px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 79, 79, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 79, 79);
}

.navbar-brand, .card h5
{
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 25px;
  padding: 0px;
}

.nav-link, .title
{
  text-transform: uppercase;
  transition: 0.2s;
}

#navbarCollapse
{
  padding: 0px 10px 0px 0px;
}

.nav-item:hover
{
  background-color: rgba(255, 140, 98, 1);
  transition: 0.2s;
}

.nav-item
{
  background-color: white;
  padding: 0px 25px 0px 25px;
  transition: 0.2s;
  text-align: right;
}

@media (min-width: 768px) {
  .navbar-brand
  {
    font-family: 'Poppins-Bold', sans-serif;
    padding: 0px 10px 0px 10px;
  }
}

@media (min-width: 62em) {

}
