main .container-fluid
{
  background-color:rgb(244, 236, 230);
}

.mainTitle, .cateTitle
{
  text-transform: uppercase;
  font-family: 'Poppins-Bold', sans-serif;
  margin: 50px;
}

.mainTitle
{
  margin: 50px;
}

.mutedLink
{
  color:#b2bec3af;
  font-size: 15px;
}

.pageName
{
  background-color: #0985e3de;
  color: #fff;
  padding: 0px 10px;
  font-size: 40px;
  width: 230px;
  display: block;
}

.box
{
  min-height: 200px;
  
  margin-bottom: 30px;
  background-color: white;
}

.projTitle
{
  font-family: 'Poppins-Bold', sans-serif;
  color:#0984e3;
}

.projImg
{
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat;

  display: none;
}

.projContent
{
  padding: 40px;
}

.projContent
{
  font-size: 13px;
}

.projContent ul
{
  padding-left: 12px;
}

@media (min-width: 768px) {

  .mutedLink
  {
    font-size: 20px;
  }

  .pageName
  {
    font-size: 60px;
    width: 340px;
  }

  #chatbot
  {
    background-position-x: -200px;
  }
  .box
  {
    width: 900px;
  }

  .projImg
  {
    display: inline-block;
  }

  .projContent
  {
    padding: 50px;
  }

  .projContent ul
  {
    padding-left: 32px;
  }

  .projDesc
  {
    padding-left: 20px;
  }
}

@media (min-width: 62em) {

}
