.mainTitle, .cateTitle
{
  text-transform: uppercase;
  font-family: 'Poppins-Bold', sans-serif;
  margin: 50px;
}

.box
{
  min-height: 200px;
  
  margin-bottom: 30px;
  background-color: white;
}

.projTitle
{
  font-family: 'Poppins-Bold', sans-serif;
  color:#0984e3;
}

.projImg
{
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat;

  display: none;
}

.projContent
{
  padding: 40px;
}

.projContent
{
  font-size: 13px;
}

.projContent ul
{
  padding-left: 12px;
}

@media (min-width: 768px) {
  #chatbot
  {
    background-position-x: -200px;
  }
  .box
  {
    width: 900px;
  }

  .projImg
  {
    display: inline-block;
  }

  .projContent
  {
    padding: 50px;
  }

  .projContent ul
  {
    padding-left: 32px;
  }

  .projDesc
  {
    padding-left: 20px;
  }
}

@media (min-width: 62em) {

}
