.mainTitle, .cateTitle
{
  text-transform: uppercase;
  font-family: 'Poppins-Bold', sans-serif;
}

.box
{
  min-height: 200px;
  width: 900px;
  margin-bottom: 30px;
  background-color: white;
}

.projTitle
{
  font-family: 'Poppins-Bold', sans-serif;
  color:#0984e3;
}

.projImg
{
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat;
}

.projContent
{
  padding: 50px;
}

.projContent
{
  font-size: 13px;
}

@media (min-width: 768px) {
  #chatbot
  {
    background-position-x: -200px;
  }
}

@media (min-width: 62em) {

}
