.mainTitle, .cateTitle
{
  text-transform: uppercase;
  font-family: 'Poppins-Bold', sans-serif;
}

.mainTitle
{
  margin: 50px;
}

.cateTitle
{
  margin: 20px;
}

.box
{
  min-height: 200px;
  width: 700px;
  margin-bottom: 30px;
  background-color: white;
  padding: 50px;
}

.info
{
  list-style-type: none;
}

.boxTitle
{
  font-family: 'Poppins-Bold', sans-serif;
  color:#0984e3;
}

.date
{
  font-size: 11px;
}

.description
{
  font-size: 13px;
}

@media (min-width: 768px) {

}

@media (min-width: 62em) {

}
