.mainTitle, .cateTitle
{
  text-transform: uppercase;
  font-family: 'Poppins-Bold', sans-serif;
}

.mainTitle
{
  margin: 50px;
}

.btn
{
  margin-bottom: 50px;
}

.cateTitle
{
  margin: 20px;
}

.box
{
  min-height: 200px;
  min-width: 300px;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
}

.info
{
  list-style-type: none;
  padding-left: 0px;
}

.boxTitle
{
  font-family: 'Poppins-Bold', sans-serif;
  color:#0984e3;
  font-size: 20px;
}

.date, .location
{
  font-size: 11px;
}

.description, .description li a
{
  padding-left: 13px;
  font-size: 13px;
  margin: 0px;
}

@media (min-width: 768px) {
  .box
  {
    width: 700px;
    padding: 50px;
  }

  .boxTitle
  {
    font-size: 24px;
  }

  .description
  {
    padding-left: 13px;
    font-size: 13px;
    margin: 0px;
  }
}