main .container-fluid
{
  background-color:rgb(244, 236, 230);
}

.mainTitle, .cateTitle
{
  text-transform: uppercase;
  font-family: 'Poppins-Bold', sans-serif;
}

.mainTitle
{
  margin: 50px;
}

.mutedLink
{
  color:#b2bec3af;
  font-size: 15px;
}

.pageName
{
  background-color: #0985e3de;
  color: #fff;
  padding: 0px 10px;
  font-size: 40px;
  width: 205px;
  display: block;
}

.btn
{
  margin: 10px 0px;
}

.btnLine
{
  width: 100px;
}

.cateTitle
{
  margin: 20px;
}

.box
{
  min-height: 200px;
  min-width: 300px;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  box-shadow: -10px 10px rgba(211, 211, 211, 0.507);
}

.info
{
  list-style-type: none;
  padding-left: 0px;
}

.boxTitle
{
  font-family: 'Poppins-Bold', sans-serif;
  color:#0984e3;
  font-size: 20px;
}

.date, .location
{
  font-size: 11px;
}

.description, .description li a
{
  padding-left: 13px;
  font-size: 13px;
  margin: 0px;
}

.boxTitle.boxList
{
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  .mutedLink
  {
    font-size: 20px;
  }

  .pageName
  {
    font-size: 60px;
    width: 300px;
  }

  .box
  {
    width: 700px;
    padding: 50px;
  }

  .boxTitle
  {
    font-size: 24px;
  }

  .description
  {
    padding-left: 13px;
    font-size: 13px;
    margin: 0px;
  }
}